<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="suiteDllAlias" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <suiteDllAlias>
    <add key="Framework" value="Nunit" />
    <add key="ApiUpdater" value="Nunit" />
    <add key="BuildSystem" value="Nunit" />
    <add key="DocModel" value="Nunit" />
  </suiteDllAlias>
</configuration>
